<div class="cocktail-page-container">

  <div class="cocktail-photo">
    <%= image_tag "blue-cocktail.jpg", alt: "blue cocktail", class: "img-fit" %>
  </div>

  <div class="cocktail-description">
    <h1 class="cocktail-title"><%= @cocktail.name %></h1>
    <p class="cocktail-description-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sapiente debitis, facilis atque animi est enim praesentium nobis, minima temporibus libero quaerat laboriosam alias modi fuga, quos inventore perspiciatis! Beatae?
    </p>
  </div>

  <div class="cocktail-ingredients">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= Ingredient.find_by_id(dose.ingredient_id).name %>, <%= dose.description %></li>


        <%#= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-neumorphism btn-rect-sm"  %>
        <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-neumorphism btn-rect-sm" do %>
          <i class="fas fa-trash"></i>
        <% end %>

      <% end %>
    </ul>
    <%= link_to new_cocktail_dose_path(@cocktail), class: "btn-neumorphism btn-rect-sm" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>




<!--   <div class="cocktail-container">
    <div class="cocktail-description background-transparent-black">
      <h3>description</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae incidunt fugit unde eveniet. Debitis, rerum iusto harum hic eos quam placeat doloribus officiis soluta ullam! Placeat repellat dolorum, necessitatibus soluta.</p>
    </div>
    <div class="doses background-transparent-black">
      <h3>ingredients</h3>
      <% @cocktail.doses.each do |dose| %>
        <div class="dose-item">
          <div>
            <p><%= Ingredient.find_by_id(dose.ingredient_id).name %>, <%= dose.description %></p>
          </div>
          <div>
            <%= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
      <%= link_to 'add dose', new_cocktail_dose_path(@cocktail) %>
    </div>
  </div> -->
</div>
