<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- for responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="nav">
      <h1 class="title-main">Cocktails</h1>
    </div>

    <div class="nav-btn-container">

      <%= link_to root_path, class: "btn-rect-nav" do %>
        <div class="btn-rect-container btn-all-cocktails">
          <div class="white-frame-top-container">
              <h3>all</h3>
          </div>
          <div class="black-frame-bottom-container">
            <h3>all</h3>
          </div>
        </div>
      <% end %>

      <%= link_to new_cocktail_path, class: "btn-rect-nav" do %>
        <div class="btn-rect-container btn-add-cocktail">
          <div class="white-frame-top-container">
            <h3>add</h3>
          </div>
          <div class="black-frame-bottom-container">
            <h3>add</h3>
          </div>
        </div>
      <% end %>

    </div>
    <%= yield %>
  </body>
</html>
